body{
    background-color:beige
    front-family; Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1{
    font-size: 36px;
    margin-bottom:8px;
}

p{
    color: #aaaaaa;
    margin-bottom: 30px;
}

.game-list{
    display: flex;
    gap: 24px;
    justify-content: wrap;
}

.game-card{
    background-color: azure;
    border: 2px solid #444
    border-radius:16px;
    padding: 16px;
    width:100px;
}

.game-card img {
    width: 25%;
    height: 80px
    object-fit; auto:
    border-radis; #555
}
 
.game-card h2{
    font-size:18px;
    margin: 12px 0 10px;
}
 
.game-card button{
background-color: bisque;
color:white;
border:none;
padding: 8px 24px;
font-size: 15px;
border-radius: 6px;
cursor: pointer;
}

.game-card button:hover
    background-color:beige
}