body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 10;
}

#character {
    width: 350px;
    height: auto;
    bottom: 50px;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    position: absolute;
    z-index: 12;
}

#dialogue {
    position: absolute;
    bottom: 280px;
    width: fit-content;       
    max-width: 45%;           
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 30px;
    z-index: 13;         
    text-align: center;
    color: white;
    background: #09100c
}

.dialogue-box {
    color: #eadbdb;
    position: absolute;
    bottom: 350px;
    width: 80%;
    left: 70%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 15px; 
    box-shadow: #09100c;
    font-size: 25px;
    z-index: 11;
}


#choices {
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 12;
}

#choices button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    z-index: 12;
}

#skipBtn {
    background-color: #a07441;
    position: fixed;
    bottom: 20px;
    right: 90px;
    z-index: 13;
}

.choice-btn {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0, 10px;
    display: none; 
}

.choice-btn:focus {
    transform: scale(1.08) translateY(-3px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.18);
    outline: none;
}

.choice-btn:active {
    transform: scale(0.97) translateY(1px);
    filter: brightness(0.95);
}

.yes-btn {
    background: linear-gradient(135deg, #022410 0%, #032a13 100%);
    color: white;
    border-radius: 8px;
}

.no-btn {
    background: linear-gradient(135deg, #23020d 0%, #2e0110 100%);
    color: white;
    border-radius: 8px;
}
.ok-btn {
    background: linear-gradient(135deg, #022410 0%, #032a13 100%);
    color: white;
    border-radius: 8px;
}

.okay-btn {
    background: linear-gradient(135deg, #022410 0%, #032a13 100%);
    color: white;
    border-radius: 8px;
}
